$settings: (
  contrast-dark: "medium",
  contrast-light: "hard",
  rainbow-headings: true,
  rainbow-colors: (fg, red, aqua, orange, blue, yellow),
  font-monospace: "Atkinson Hyperlegible",
  font-heading: "HanWangKaiMediumChuIn",
  custom-ol-bullet: true,
);
