$settings: (
  contrast-dark: "medium",
  contrast-light: "hard",
  rainbow-headings: true,
  rainbow-colors: (fg, red, aqua, orange, blue, yellow),
  font-monospace: "Ubuntu Mono",
  font-heading: "WangKaiMediumChuIn",
  custom-ol-bullet: true,
);
